@mixin background($bgc) {
    background-color: $bgc;
}

@mixin FlexCenter() {
    flex-direction: column;
    //justify-content: space-around;
    justify-content: center;
}


nav{
    @include background(violet);
    height: 50vh;
    align-items: center;
}

p{
    @include background(aqua);
    color: rgb(0, 0, 0)
    
}

#Butts{
    align-content: center;
    justify-content: center;
    padding: 50px;
}

button{
    @include background(pink);
    height: 25vh;
    width: 25vh;
    align-items: center;
}

footer{
    @include background(pink);
    height: 25vh;
    color: blueviolet;
}